spring:
    application:
        name: Main-APP
    profiles:
        # The commented value for `active` can be replaced with valid spring profiles to load.
        # Otherwise, it will be filled in by maven when building the WAR file
        # Either way, it can be overridden by `--spring.profiles.active` value passed in the commandline or `-Dspring.profiles.active` set in `JAVA_OPTS`
        active: '@spring.profiles.active@'

    liquibase:
        enabled: true
        change-log: classpath:/liquibase/master.xml
    jpa:
        open-in-view: false
        hibernate:
            naming:
                physical-strategy: gt.app.hibernate.PrefixedNamingStrategy
                implicit-strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy

server:
    port: 8081

logging.level:
    org.springframework.security: INFO
    org.springframework.security.web: INFO
    org.springframework.cloud: INFO
    sql: INFO
    web: INFO
    ROOT: WARN
    gt: DEBUG


app-properties:
    jms:
        content-checkerrequest-queue: jms-content-checker-requestqueue
        content-checkercallback-response-queue: jms-content-checkercallback-responsequeue
    file-storage:
        upload-folder: ${java.io.tmpdir}/uploads

wro4j:
    jmx-enabled: false
    debug: true
    manager-factory:
        post-processors: cssVariables,cssMinJawr,jsMin
        pre-processors: cssUrlRewriting,cssImport,semicolonAppender,removeSourceMaps,singlelineStripper
    filter-url: /wro4j # this is the default, needs to be used in secConfig and the htmls
