spring:
    application:
        name: Main-APP
    mvc:
        static-path-pattern: /static/**
    jooq:
        sql-dialect: MySQL
    liquibase:
        enabled: true
        change-log: classpath:/liquibase/master.xml
    jpa:
        open-in-view: false
        hibernate:
            ddl-auto: none  # we use liquibase
            generate_statistics: true
            naming:
                physical-strategy: gt.app.hibernate.PrefixedNamingStrategy
                implicit-strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy
    datasource:
        url: jdbc:mysql://${MYSQL_HOST:localhost}:${MYSQL_PORT:3306}/${MYSQL_DB:seedapp}?useUnicode=true&allowPublicKeyRetrieval=true
        username: ${MYSQL_USERNAME:root}
        password: ${MYSQL_PASSWORD:password}

    artemis:
        user: ${ACTIVEMQ_ARTEMIS_USER:admin}
        password: ${ACTIVEMQ_ARTEMIS_PASSWORD:admin}
        broker-url: tcp://${ACTIVEMQ_ARTEMIS_HOST:localhost}:${ACTIVEMQ_ARTEMIS_PORT:61616}
    cloud:
        openfeign:
            micrometer:
                enabled: true
    security:
        oauth2:
            client:
                # we are using authorization code flow (login within keycloak app web ui)
                provider:
                    oidc:
                        # use http://localhost:8080/realms/articleapp/.well-known/openid-configuration to get config from keycloak
                        issuer-uri: http://${KEYCLOAK_HOST:localhost}:${KEYCLOAK_PORT:8080}/realms/seedapp
                registration:
                    oidc:
                        #                        authorization-grant-type: refresh_token
                        client-id: seed-app-gateway-client
                        client-secret: secret123
                        scope: openid, profile, email, offline_access # last one for refresh tokens
                    # we can have multiple auth providers
server:
    port: 8081

logging:
    level:
        security: INFO
        web: INFO
        cloud: INFO
        sql: INFO
        ROOT: INFO
        gt: TRACE
#        'org.springframework.web.socket': TRACE


feign-clients:
    email-service:
        url: http://${EMAIL_SERVICE_HOST:localhost}:${EMAIL_SERVICE_PORT:8085}/ #TODO: use service discovery
    report-service:
        url: http://${REPORT_SERVICE_HOST:localhost}:${REPORT_SERVICE_PORT:8086}/ #TODO: use service discovery

app-properties:
    jms:
        content-checkerrequest-queue: jms-content-checker-requestqueue
        content-checkercallback-response-queue: jms-content-checkercallback-responsequeue
    file-storage:
        upload-folder: ${java.io.tmpdir}/uploads
    web:
        base-url: http://localhost:${server.port}
wro4j:
    jmx-enabled: false
    debug: true
    manager-factory:
        post-processors: cssVariables,cssMinJawr,jsMin
        pre-processors: cssUrlRewriting,cssImport,semicolonAppender,removeSourceMaps,singlelineStripper
    filter-url: /wro4j # this is the default, needs to be used in secConfig and the htmls

# https://github.com/gavlyukovskiy/spring-boot-data-source-decorator
# note that both `jdbc.datasource-proxy` and `decorator.datasource` cannot be enabled at same time due to bean name conflict
decorator:
    datasource:
        enabled: true  # disabled for now
        flexy-pool:
            threshold:
                connection:
                    lease: 0
                    acquisition: -1
        datasource-proxy:
            slow-query:
                threshold: 1 # 1 second is slow
            query:
                log-level: INFO
# https://github.com/jdbc-observations/datasource-micrometer
jdbc:
    datasource-proxy:
        enabled: false

management:
    tracing:
        sampling:
            probability: 1.0
    zipkin:
        tracing:
            endpoint: http://${ZIPKIN_HOST:localhost}:${ZIPKIN_PORT:9411}/api/v2/spans
    health:
        jms:
            enabled: true
