spring:
    application:
        name: Report Service
    profiles:
        # The commented value for `active` can be replaced with valid spring profiles to load.
        # Otherwise, it will be filled in by maven when building the WAR file
        # Either way, it can be overridden by `--spring.profiles.active` value passed in the commandline or `-Dspring.profiles.active` set in `JAVA_OPTS`
        active: '@spring.profiles.active@'

    datasource:
        url: jdbc:mysql://${MYSQL_HOST:localhost}:${MYSQL_PORT:3306}/${MYSQL_DB:seedapp}
        username: ${MYSQL_USERNAME:root}
        password: ${MYSQL_PASSWORD:password}

server:
    port: 8086

logging.level:
    org.springframework.web: INFO
    org.hibernate: INFO
    ROOT: WARN
    gt: DEBUG

