spring:
    application:
        name: Email Service
    mail:
        host: ${MAILHOG_HOST:localhost}
        port: ${MAILHOG_PORT:1025}
        username:
        password:

server:
    port: 8085
logging:
    level:
        org.springframework.web: INFO
        ROOT: WARN
        gt: TRACE

management:
    tracing:
        sampling:
            probability: 1.0
    tracing.export.zipkin.endpoint: http://${ZIPKIN_HOST:localhost}:${ZIPKIN_PORT:9411}/api/v2/spans

spring.web.error.include-binding-errors: always

spring.web.error.include-exception: true

spring.web.error.include-message: always

spring.web.error.include-stacktrace: never


