spring:
    application:
        name: Email Service
    mail:
        host: ${MAILHOG_HOST:localhost}
        port: ${MAILHOG_PORT:1025}
        username:
        password:
    web:
        error:
            include-stacktrace: never
            include-exception: true
            include-binding-errors: always
            include-message: always
logging:
server:
    port: 8085


    level:
        org.springframework.web: INFO
        ROOT: WARN
        gt: TRACE

management:
    tracing:
        sampling:
            probability: 1.0
    zipkin:
        export:
            tracing:
                endpoint: http://${ZIPKIN_HOST:localhost}:${ZIPKIN_PORT:9411}/api/v2/spans
