<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{_fragments/header :: head(~{:: title}, ~{:: .custom-link})}">
    <title> Note App - Signup</title>
    <!-- we can do the following to add extra css on this page -->
    <link class="custom-link" th:href="@{/static/css/some-custom-this-page-only.css}"/>
</head>
<body>

<div th:replace="~{_fragments/header :: headerbar}"></div>

<div class="container">
    <div class="card-deck mb-3">
        <div class="px-3 py-3 pt-md-8 pb-md-8 mx-auto">

            <h4 class="mb-3">User Profile</h4>
            <form th:action="@{/profile}" method="post" th:object="${user}">
                <div class="mb-4">
                    <label for="firstName">First name</label>
                    <input type="text" class="form-control" th:field="*{firstName}" placeholder=""
                           autofocus="autofocus"
                           required>
                    <span th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}" class="error"></span>

                </div>
                <div class="mb-3">
                    <label for="lastName">Last name</label>
                    <input type="text" class="form-control" th:field="*{lastName}" placeholder="" required>
                    <span th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}" class="error"></span>

                </div>

                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" th:field="*{email}" placeholder="you@example.com"
                           required>
                    <span th:errors="*{email}" th:if="${#fields.hasErrors('email')}" class="error"></span>
                </div>

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Update</button>

            </form>

        </div>
    </div>

    <div th:replace="~{_fragments/footer :: page-footer}" th:remove="tag"></div>

</div>

<div th:replace="~{_fragments/footer :: js-imports(~{::.custom-script})}">
    <script class="custom-script" th:src="@{/static/js/custom.js}"></script>
</div>

</body>
</html>
