spring:
    application:
        name: Report Service

    datasource:
        url: jdbc:mysql://${MYSQL_HOST:localhost}:${MYSQL_PORT:3306}/${MYSQL_DB:seedapp}?useUnicode=true&allowPublicKeyRetrieval=true
        username: ${MYSQL_USERNAME:root}
        password: ${MYSQL_PASSWORD:password}
    security:
        oauth2:
            resourceserver:
                jwt:
                    issuer-uri: http://${KEYCLOAK_HOST:localhost}:${KEYCLOAK_PORT:8080}/realms/seedapp
server:
    port: 8086

logging:
    level:
        org.springframework.web: INFO
        org.hibernate: INFO
        ROOT: WARN
        gt: DEBUG

management:
    tracing:
        sampling:
            probability: 1.0
    zipkin:
        export:
            tracing:
                endpoint: http://${ZIPKIN_HOST:localhost}:${ZIPKIN_PORT:9411}/api/v2/spans

