<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="_fragments/header :: head(~{:: title}, ~{:: .custom-link})">
    <title> Edit Note</title>
    <!-- we can do the following to add extra css on this page -->
    <link class="custom-link" th:href="@{/static/css/some-custom-this-page-only.css}"/>
</head>

<body>

<div th:replace="_fragments/header :: headerbar"></div>


<div class="container">
    <div class="card-deck mb-3">
        <div class="px-3 py-3 pt-md-8 pb-md-8 mx-auto">

            <form action="#" method="post" th:action=@{/note/edit} th:object="${note}" enctype="multipart/form-data">

                <div th:replace="note/_notes :: note-editor"></div>

                <button class="btn btn-primary btn-sm btn-block" type="submit" id="updateNote-btn">Update Note</button>
            </form>


        </div>
    </div>

    <div th:replace="_fragments/footer :: page-footer"></div>

</div>

<div th:replace="_fragments/footer :: js-imports(~{::.custom-script})">
    <script class="custom-script" th:src="@{/static/js/custom.js}"></script>
</div>

</body>
</html>
