<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="_fragments/header :: head"></div>

<body>

<div th:replace="_fragments/header :: loggedin-header"></div>


<div class="container">
    <div class="card-deck mb-3">
        <div class="px-3 py-3 pt-md-8 pb-md-8 mx-auto">

            <form action="#" method="post" th:action=@{/note/edit/{id}(id=${note.id})} th:object="${note}">

                <div th:replace="note/_notes :: note-editor"></div>

                <button class="btn btn-primary btn-sm btn-block" type="submit">Update Note</button>
            </form>


        </div>
    </div>

    <div th:replace="_fragments/footer :: page-footer"></div>

</div>

<div th:replace="_fragments/footer :: js-imports"></div>


</body>
</html>
