
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #acacac;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.hidden {
    display: none;
}
