spring:
    application:
        name: Trend-Service
    artemis:
        user: ${ACTIVEMQ_ARTEMIS_USER:admin}
        password: ${ACTIVEMQ_ARTEMIS_PASSWORD:admin}
        broker-url: tcp://${ACTIVEMQ_ARTEMIS_HOST:localhost}:${ACTIVEMQ_ARTEMIS_PORT:61616}

server:
    port: 8084
logging:
    level:
        org.springframework.web: INFO
        org.hibernate: INFO
        ROOT: WARN
        gt: DEBUG

management:
    tracing:
        sampling:
            probability: 1.0
    tracing.export.zipkin.endpoint: http://${ZIPKIN_HOST:localhost}:${ZIPKIN_PORT:9411}/api/v2/spans
