spring:
    application:
        name: Trend-Service
    profiles:
        # The commented value for `active` can be replaced with valid spring profiles to load.
        # Otherwise, it will be filled in by maven when building the WAR file
        # Either way, it can be overridden by `--spring.profiles.active` value passed in the commandline or `-Dspring.profiles.active` set in `JAVA_OPTS`
        active: '@spring.profiles.active@'
    artemis:
        user: ${ACTIVEMQ_ARTEMIS_USER:admin}
        password: ${ACTIVEMQ_ARTEMIS_PASSWORD:admin}
        broker-url: tcp://${ACTIVEMQ_ARTEMIS_HOST:localhost}:${ACTIVEMQ_ARTEMIS_PORT:61616}


server:
    port: 8083

jms:
    content-checkerrequest-queue: jms-content-checker-requestqueue
logging:
    level:
        web: INFO
        ROOT: WARN
        gt: DEBUG

management:
    tracing:
        sampling:
            probability: 1.0
    zipkin:
        tracing:
            endpoint: http://${ZIPKIN_HOST:localhost}:${ZIPKIN_PORT:9411}/api/v2/spans
    health:
        jms:
            enabled: true
