<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="_fragments/header :: head"></div>

<body>

<div th:replace="_fragments/header :: loggedin-header"></div>


<div class="px-3 py-3 pt-md-8 pb-md-8 mx-auto text-center">


    <div class="container">
        <div class="card-deck mb-3 text-center">


            <div th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
                <h1 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h1>
                <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
                <a th:href="@{/}">Back to Home Page</a>
            </div>

        </div>

        <div th:replace="_fragments/footer :: page-footer"></div>

    </div>
</div>

<div th:replace="_fragments/footer :: js-imports"></div>

</body>
</html>
