<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="_fragments/header :: head"></div>

<body>

<div th:replace="_fragments/header :: loggedin-header"></div>


<div class="px-3 py-3 pt-md-8 pb-md-8 mx-auto text-center">
    <h1 class="display-6">You are logged in</h1>
    <h5>
        <span th:text="${message}"></span>
    </h5>

    <div class="container">
        <div class="card-deck mb-3 text-center">
            <p><a th:href="@{/note/}">Notes</a></p>

        </div>

        <div th:replace="_fragments/footer :: page-footer"></div>

    </div>
</div>

<div th:replace="_fragments/footer :: js-imports"></div>

</body>
</html>
