<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="_fragments/header :: head(~{:: title}, ~{:: .custom-link})">
    <title> Home</title>
    <!-- we can do the following to add extra css on this page -->
        <link class="custom-link" th:href="@{/static/css/some-custom-this-page-only.css}"/>
</head>
<body>

<div th:replace="_fragments/header :: loggedin-header"></div>


<div class="px-3 py-3 pt-md-8 pb-md-8 mx-auto text-center">
    <h1 class="display-6">You are logged in</h1>
    <h5>
        <span th:text="${message}"></span>
    </h5>

    <div class="container">
        <div class="card-deck mb-3 text-center">
            <p><a th:href="@{/note/}">Notes</a></p>

        </div>

        <div th:replace="_fragments/footer :: page-footer"></div>

    </div>
</div>

<div th:replace="_fragments/footer :: js-imports(~{this :: .custom-script})">
        <script class="custom-script" th:src="@{/static/js/custom.js}"></script>
</div>

</body>
</html>
