<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="_fragments/header :: head"></div>

<body>

<div th:replace="_fragments/header :: nologin-header"></div>


<div class="px-3 py-3 pt-md-8 pb-md-8 mx-auto text-center">
    <h1 class="display-4">Seed App</h1>
    <h3>
        <span th:text="${greeting}"></span>
    </h3>

    <p class="lead">Please <a href="/login">login</a> to App!</p>
    <p class="text-muted">Use username = user.uniqueId for a user defined on Application::initData() and password =
        'pass' </p>

</div>

<div class="container">
    <div class="card-deck mb-3 text-center">

    </div>

    <div th:replace="_fragments/footer :: page-footer"></div>

</div>

<div th:replace="_fragments/footer :: js-imports"></div>


</body>
</html>
