<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="_fragments/header :: head(~{:: title}, ~{:: .custom-link})">
    <title> Note App - HOME</title>
    <!-- we can do the following to add extra css on this page -->
    <link class="custom-link" th:href="@{/static/css/some-custom-this-page-only.css}"/>
</head>
<body>

<div th:replace="_fragments/header :: headerbar"></div>


<div class="container">
    <div class="card-deck mb-3">
        <div class="px-3 py-3 pt-md-8 pb-md-8 mx-auto">
            <div th:if="${param.logout} != null">
                <div class="alert alert-success" role="alert">
                    <span>You have been signed out</span>
                </div>
            </div>

            <div th:if="${success} != null">
                <div class="alert alert-success" role="alert">
                    <span th:text="${success}"></span>
                </div>
            </div>

            <div sec:authorize="isAuthenticated()">
                <form action="#" method="post" th:action="@{/note/add}" th:object="${note}"
                      enctype="multipart/form-data">
                    <div th:replace="note/_notes :: note-editor"></div>

                    <button class="btn btn-primary btn-sm btn-block" type="submit" id="postNote-btn">Post Note</button>
                </form>
                <hr/>
            </div>

            <th:block th:each="note : ${notes}">
                <th:block th:replace="note/_notes :: note-box">

                </th:block>
            </th:block>

            <div th:if="${notes.getTotalElements() ==0}">
                <div class="alert alert-warning" role="alert">
                    <span>No notes available.</span>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="_fragments/footer :: page-footer" th:remove="tag"></div>

</div>

<div th:replace="_fragments/footer :: js-imports(~{::.custom-script})">
    <script class="custom-script" th:src="@{/static/js/custom.js}"></script>
</div>

</body>
</html>
