<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="page-footer">

    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <small class="d-block mb-3">&copy; <a href="http://ganeshtiwaridotcomdotnp.blogspot.com">Ganesh Tiwari</a>  2019</small>
            </div>
        </div>
    </footer>

</div>


<div th:fragment="js-imports(scripts)">
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/popper.js/2.0.2/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- we can pass in additional script if needed -->
    <th:block th:replace="${scripts}"/>

</div>
</body>
</html>



