<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">

<body>

<th:block th:fragment="article-editor">
    <div class="row">
        <input class="form-control" id="id" placeholder="" required="" th:field="*{id}" type="hidden">

        <div class="col-md-12 mb-3">
            <label for="title">Title</label>
            <input class="form-control" id="title" placeholder="" required="" th:field="*{title}" type="text"
                   value="">
            <span th:errors="*{title}" th:if="${#fields.hasErrors('title')}"></span>

        </div>

        <div class="col-md-12 mb-3">
            <label for="content">Content</label>
            <textarea class="form-control" id="content" placeholder="" required="" th:field="*{content}"></textarea>
            <span th:errors="*{content}" th:if="${#fields.hasErrors('content')}"></span>
        </div>

        <div class="col-md-2 mb-3">
            <label for="fileUploadBtn">Attach Files</label>
        </div>
        <div class="col-md-3 mb-3">
            <input class="btn btn-secondary btn-sm btn-block" id="fileUploadBtn" type="file" multiple value=""
                   name="files">
        </div>

    </div>

</th:block>


<th:block th:fragment="view-article-comments">
    <div class="row" th:each="comment : ${comments}">
        <div class="col-12  " style="margin-left: 15px;">
            <small><span th:text="${comment.content}"></span></small>
            <div class="text-muted">
                <small>
                    At
                    <span th:text="${#temporals.format(comment.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
                    ,
                    By <span th:text="${comment.username}"></span>
                </small>
            </div>
            <div sec:authorize="isAuthenticated()" th:insert="article/_articles :: add-article-comment"
                 th:with="article=${article},parentComment=${comment}">
            </div>
            <div class="row">
                <div th:if="${comment.childComments.size()>0}">
                    <div class="col-12">
                        <section th:insert="article/_articles :: view-article-comments"
                                 th:with="comments=${comment.childComments}">
                        </section>
                    </div>
                </div>

            </div>
        </div>
    </div>
</th:block>


<th:block th:fragment="add-article-comment">
    <form action="#" method="post" th:action="@{/article/addComment}" enctype="multipart/form-data">
        <div class="row">
            <input class="form-control" id="articleId" name="articleId" required="" th:value="${article.id}"
                   type="hidden">

            <input th:if="${comment}" class="form-control" id="parentCommentId" name="parentCommentId"
                   th:value="${comment.id}"
                   type="hidden">

            <div class="col-10">
                <input class="form-control" id="content" name="content"
                       required="" type="text">
            </div>
            <div class="col-2">
                <button class="btn btn-primary btn-sm btn-block" type="submit" id="postArticle-btn">>
                </button>
            </div>

        </div>
    </form>
</th:block>


<th:block th:fragment="article-preview-box">

    <div class="card  shadow-sm article-preview-box">
        <div class="card-header">
            <a th:href="@{/article/read/{id}(id=${article.id})}">
                <h5 class="card-title"><span th:text="${article.title}"></span></h5>
            </a>

        </div>

        <div class="card-body">
            <p class="card-text"><span th:text="${article.content}"></span></p>
            <div th:if="${article.files.size()>0}">
                <hr/>
                Attachments:
                <span th:each="file : ${article.files}">
                    <a th:href="@{/download/file/{id}(id=${file.id})}">
                        <span th:text="${file.name}">Download</span>
                    </a>
                </span>
            </div>

        </div>

        <div class="card-footer text-muted">
            Posted on <span th:text="${#temporals.format(article.createdDate, 'yyyy-MM-dd HH:mm')}"></span>, By
            <span sec:authorize="isAnonymous()" th:text="${article.username}"></span>
            <span sec:authorize="isAuthenticated()" th:attr="data-userid=${article.userId}" class="username-link"
                  th:text="${article.username}"></span>
        </div>

    </div>

</th:block>


<th:block th:fragment="article-read-box">

    <div class="card  shadow-sm article-box">
        <div class="card-header">
            <h5 class="card-title"><span th:text="${article.title}"></span></h5>
        </div>

        <div class="card-body">
            <p class="card-text"><span th:text="${article.content}"></span></p>
            <div th:if="${article.files.size()>0}">
                <hr/>
                Attachments:
                <span th:each="file : ${article.files}">
                    <a th:href="@{/download/file/{id}(id=${file.id})}">
                        <span th:text="${file.name}"></span>
                    </a>
                </span>
            </div>

        </div>

        <div class="card-footer text-muted">
            Posted on <span th:text="${#temporals.format(article.createdDate, 'yyyy-MM-dd HH:mm')}"></span>, By
            <span sec:authorize="isAnonymous()" th:text="${article.username}"></span>
            <span sec:authorize="isAuthenticated()" th:attr="data-userid=${article.userId}" class="username-link"
                  th:text="${article.username}"></span>
        </div>

        <div th:if="${article.comments.size()>0}">
            <div class="card-body">
                <strong>Comments:</strong>
                <hr/>
                <div th:insert="article/_articles :: view-article-comments"
                     th:with="article=${article},comments=${article.comments}">
                </div>
            </div>
        </div>

        <div class="card-body">
            <strong>Add a comment:</strong>
            <hr/>
            <div th:insert="article/_articles :: add-article-comment" th:with="article=${article}">
            </div>
        </div>

    </div>

</th:block>

</body>
</html>

